html,body{
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;
}

#map-canvas,#search form{
    height:70%;
    width:60%;
    margin:auto;
}

.tab-content, #map{
    height:100%;
}

#map{
    margin-top:2.5%;
}